<!DOCTYPE html>
<html>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>
<script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
<head>
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Abel|Varela+Round" rel="stylesheet">
  <title>Demo Application</title>

  <meta charset="UTF-8">
</head>
<body>
 <h1>Sensor Data for Room 1</h1>
  <p></p>
  
  
  <!-- <input id = "Temperature", name="he" />-->
  
  
  <div id="bodyContainer">
    <form name = sendInputs action = "/api" method = "POST">
      <p2>Temperature:  
      <input class ="inputs" id = "Temperature" name="temp" value ="{{temp}}"/> 
      </p2>

      <p2>Humidity:  
      <input class ="inputs" id="Humidity" name="temp2" value ="{{temp2}}" /> 
      </p2>

      <p2>"Light:
      <input class ="inputs" id="Light" name="temp3" value ="{{temp3}}" /> 
      </p2>

      <p2>CO2: 
      <input class ="inputs" id="CO2" name="temp4" value ="{{temp4}}" /> 
      </p2>

      <p2>HumidityRatio: 
      <input class ="inputs" id="HumidityRatio" name="temp5" value ="{{temp5}}" /> 
      </p2>

      <p2>Prediction: 
      <input class ="inputs predict" id="Prediction" name="output" value ="{{output}}" />
      </p2>
  
      <div id="bodyContainer">
          <p2> Status:
            <input class ="inputs status" id="Status" name="status" value="{{status}}" />
            <input type="hidden" id="Inputs" name="temp6" value="{{temp6}}" />
          </p2>
            <button type="button" value="false" id="regularButton" onclick="change()"> 
              Click This Button to Add This Data Point to the Training Table! 
            </button>
          
      </div>
    </form>
  
  
  <script>
    setInterval(function() {
      listOfTemps = [19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5]
      ind = Math.floor(Math.random()*listOfTemps.length)
      
      $("#Temperature").val((listOfTemps[ind]).toFixed(1));
      
      listOfHums = [16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]
      ind2 = Math.floor(Math.random()*listOfHums.length)
      
      $("#Humidity").val((listOfHums[ind2]));
      
      listOfLigh = [0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500]
      ind3 = Math.floor(Math.random()*listOfLigh.length)
      
      $("#Light").val((listOfLigh[ind3]));
      
      listOfCO2 = [0, 200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]
      ind4 = Math.floor(Math.random()*listOfCO2.length)
      
      $("#CO2").val((listOfCO2[ind4]));
      
      listOfRats = [.002, .0025, .003, .0035, .004, .0045, .005, .0055, .006, .0065]
      ind5 = Math.floor(Math.random()*listOfRats.length)
      
      $("#HumidityRatio").val((listOfRats[ind5]));
      
      
      $("#Inputs").val(document.getElementById('Temperature').value.toString() + ',' + 
                       document.getElementById('Humidity').value.toString()  + ',' +
                       document.getElementById('Light').value.toString()  + ',' +
                       document.getElementById('CO2').value.toString()  + ',' +
                       document.getElementById('HumidityRatio').value.toString());
      
      $("#Status").val("Not Added");
      
      document.sendInputs.submit();
    }, 5000);
    
    function change() {
      var change = document.getElementById("regularButton");
      
      if (change.value == "false") {
        document.sendInputs.elements["status"].value = "Added";
        document.sendInputs.submit();
      } else {
        change.value = "true";
      }
      
    }
  </script>
 </body>

</html>